*.pyc
.vimrc
centaurus-doc.aux
centaurus-doc.bbl
centaurus-doc.blg
centaurus-doc.dvi
centaurus-doc.log
centaurus-doc.out
centaurus-doc.pdf
centaurus-doc.ps
centaurus-doc.tex
centaurus-doc.toc
biblio.bib
